---
const { color, title, subtitle, id, showFooterContent } = Astro.props;
const empanadas = [
  {
    src: "/imagenes/empanadas.webp",
    name: "Carne",
    description: "Con queso parmesano",
    price: "$60",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Carne picante",
    description: "",
    price: "$60",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Espinaca",
    description: "",
    price: "$60",
  },

  {
    src: "/imagenes/empanadas.webp",
    name: "Humita",
    description: "",
    price: "$60",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Queso con cebolla",
    description: "",
    price: "$60",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Roquefort",
    decription: "Fabricado encasa",
    price: "$70",
  },

  {
    src: "/imagenes/empanadas.webp",
    name: "Siciliana",
    description: "",
    price: "$90",
  },
];
const pizzas = [
  {
    src: "/imagenes/empanadas.webp",
    name: "Margarita",
    description: "",
    price: "$60",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Hongos",
    description: "",
    price: "$60",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "4 Quesos",
    description: "",
    price: "$60",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Tomate con anchoas",
    description: "",
    price: "$60",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Jamón con burrata",
    description: " Jamón fabricado en casa",
    price: "$60",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Pancceta y provolone",
    description: "",
    price: "$60",
  },
];
const entradas = [
  {
    src: "/imagenes/empanadas.webp",
    name: "Bocaditos de espinaca",
    description: "",
    price: "$135",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Espárragos al vapor",
    description: "",
    price: "$155",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Pimiento asado",
    description: "",
    price: "$90",
  },

  {
    src: "/imagenes/empanadas.webp",
    name: "Hongos al ajoillo",
    description: "",
    price: "$170",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Berenjenas a la parmesana",
    description: "",
    price: "$185",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Chorizo argentino",
    decription: "Fabricado encasa",
    price: "$110",
  },

  {
    src: "/imagenes/empanadas.webp",
    name: "Chistorra",
    description: "Fabricada en casa",
    price: "$135",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Mollejas a la parrilla",
    description: "",
    price: "$310",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Mollejas al verdeo",
    description: "",
    price: "$290",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Chicnhulines a la parrilla",
    description: "",
    price: "$210",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Malfatti de espinaca",
    description: "",
    price: "$250",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Provoleta tomate y pimiento",
    description: "",
    price: "$220",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "provoleta arugula y jamón serrano ",
    description: "",
    price: "$260",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Tartara de Rib-Eye",
    description: "",
    price: "$250",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Carpaccio de jamón serrano",
    description: "",
    price: "$260",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Mejillones con chistorra",
    description: "",
    price: "$335",
  },
];
const ensaladas = [
  {
    src: "/imagenes/empanadas.webp",
    name: "Ensalada de pollo",
    description: "",
    price: "$90",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Ensalada de atun",
    description: "",
    price: "$90",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Queso con cebolla",
    description: "",
    price: "$60",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Humita",
    description: "",
    price: "$60",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Espinaca",
    description: "",
    price: "$60",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Roquefor",
    description: "",
    price: "$60",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Siciliana",
    description: "",
    price: "$60",
  },
];
const cocina = [
  {
    src: "/imagenes/empanadas.webp",
    name: "Fettuccine Bolognesa",
    description: "",
    price: "$230",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: " Fettuccine con crema de hongos",
    description: "",
    price: "$195",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Fetucciine negro con calamares en su tinta",
    description: "",
    price: "$275",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Ravioles de espianaca al pomodoro",
    description: "",
    price: "$230",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Farroto: vegetales y grana padano",
    description: "",
    price: "$210",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Sorrentinos de ricota con salsa rosa",
    description: "",
    price: "$250",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Lasagna bolognesa",
    description: "",
    price: "$250",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Hamburguesa al estilo de la matera",
    description: "",
    price: "$250",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Milanesa de pollo",
    description: "",
    price: "$220",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Milanesa de res",
    description: "",
    price: "$320",
  },
];
const postres = [
  {
   src: "/imagenes/empanadas.webp",
    name: "Alfajor de hojaldre",
    description: "",
    price: "$175",
  },
  {
   src: "/imagenes/empanadas.webp",
    name: "Martín fierro",
    description: "Helado de vainilla con fresas flameadas",
    price: "$150",
  },
  {
   src: "/imagenes/empanadas.webp",
    name: " Musse de chocolate",
    description: "",
    price: "$125",
  },
  {
   src: "/imagenes/empanadas.webp",
    name: "Crepa Matera",
    description: "con mascarpone y salsa de dulce de leche",
    price: "$165",
  },
  {
   src: "/imagenes/empanadas.webp",
    name: "Patel de chocolate",
    description: "",
    price: "$115",
  },
  {
   src: "/imagenes/empanadas.webp",
    name: "Ate con queso",
    description: "",
    price: "$125",
  },
  {
   src: "/imagenes/empanadas.webp",
    name: "Helados",
    description: "",
    price: "$40",
  },
  
  {
   src: "/imagenes/empanadas.webp",
    name: "Tarta de manzana",
    description: "",
    price: "$150",
  },
  {
   src: "/imagenes/empanadas.webp",
    name: "Camote al rescoldo",
    description: "",
    price: "$145",
  },
];
---

<section
  class="landing-section bg-neutral-900 h-screen w-screen overflow-hidden py-[60px]"
  data-header-color={color}
  id={id}
>
  <!-- //navegacion sm -->

  <nav id="modal-menu" class="md:hidden text-center">
    <button
      id="boton-carta"
      class="md:hidden border-[2px] backdrop-blur-sm font-bold text-xl rounded-xl text-white px-12 py-2 inline-block hover:scale-105 bg-red-500 hover:text-white transition-colors"
    >
      Carta
    </button>
    <ul
      id="lista"
      class="w-60 border-solid border-black border-1 rounded-md bg-white bg-opacity-20 flex flex-col mx-auto mt-4 [&>li>a]:transition-colors [&>li]:m-3 [&>li>a]:flex [&>li>a]:justify-center [&>li>a]:duration-200 [&>li>a]:text-black [&>li>a]:font-medium [&>li>a]:px-6 [&>li>a]:py-2 [&>li>a]:rounded-md"
    >
      <li>
        <a class="hover:bg-blue-200 hover:text-red-500" href="#home">
          Empanadas<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-blue-200 hover:text-red-500" href="#model-s"
          >Entradas<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-blue-200 hover:text-red-500" href="#model-3">
          Ensaladas<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-blue-200 hover:text-red-500" href="#model-x"
          >Pizzas<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-blue-200 hover:text-red-500" href="#model-y"
          >Nuetsra Cocina<img
            class="h-5"
            alt="arrow icon"
            src="/arrow-icon.svg"
          /></a
        >
      </li>
      <li>
        <a class="hover:bg-slate-100 hover:text-red-500" href="#powerwall"
          >Mar<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-slate-100 hover:text-red-500" href="#powerwall"
          >Granja<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-slate-100 hover:text-red-500" href="#powerwall"
          >Carne<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
      <li>
        <a class="hover:bg-slate-100 hover:text-red-500" href="#powerwall"
          >Postres<img class="h-5" alt="arrow icon" src="/arrow-icon.svg" /></a
        >
      </li>
    </ul>
  </nav>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const boton = document.getElementById("boton-carta");
      // Obtén el botón y el elemento <ul>
      const ul = document.getElementById("lista");
      const items = ul.querySelectorAll("li");

      boton.addEventListener("click", function () {
        items.forEach((item) => {
          if (
            item.style.visibility === "hidden" ||
            item.style.visibility === ""
          ) {
            item.style.visibility = "visible";
          } else {
            item.style.visibility = "hidden";
          }
          if (
            ul.style.visibility === "hidden" ||
            item.style.visibility === ""
          ) {
            ul.style.visibility = "visible";
          } else {
            ul.style.visibility = "hidden";
          }
          if (item.style.visibility === "visible") {
            ul.style.visibility = "visible";
          }
        });
      });
    });
  </script>

  <!-- // navegacion media  -->
  <header class="hidden md:block text-center py-10">
    <h1 class="text-5xl font-semibold">Menú</h1>
    <h3 class="text-3xl font-medium">Apetito por lo que hacemos</h3>
  </header>

  <ul
    id="navegacion-carta"
    class="flex py-5 mx-auto [&>li>a]:px-3 justify-center md:[&>li>a]:text-nowrap lg:[&>li>a]:px-5 lg:[&>li>a]:text-2xl lg:flex sticky top-auto"
  >
    <li class="sm:hidden md:block">
      <a
        id="ver-empanadas"
        class="font-semibold text-white text-sm hover:text-red-500">Empanadas</a
      >
      <a
        id="ver-entradas"
        class="font-semibold text-white text-sm hover:text-red-500">Entradas</a
      >
      <a
        id="ver-ensaladas"
        class="font-semibold text-white text-sm hover:text-red-500">Ensaladas</a
      >
      <a
        id="ver-pizzas"
        class="font-semibold text-white text-sm hover:text-red-500">Pizzas</a
      >
      <a
        id="ver-cocina"
        class="font-semibold text-white text-sm hover:text-red-500"
        >Nuestra cocina</a
      >
      <a
        id="ver-parrilla"
        class="font-semibold text-white text-sm hover:text-red-500">Parrilla</a
      >
      <a
        id="ver-postres"
        class="font-semibold text-white text-sm hover:text-red-500">Postres</a
      >
    </li>
  </ul>
  <div
    id="Empanadas"
    class="hidden justify-center justify-between mr-10 ml-10 p-7"
    style=" "
  >
    {
      empanadas.map((empanada) => (
        <div class="flex flex-col items-center">
          <img class="h-20 w-20 object-cover " src={empanada.src} alt="empanada" />
          <p class=" font-semibold text-base text-center text-pretty">{empanada.name}</p>
          <p class=" font-light">{empanada.description}</p>
          <p>{empanada.price}</p>
        </div>
      ))
    }
  </div>
  <div
    id="Pizzas"
    class="hidden flex justify-center justify-between mr-10 ml-10 p-7"
    style=" "
  >
    {
      pizzas.map((pizza) => (
        <div class="flex flex-col items-center">
          <img class="h-20 w-20 object-cover " src={pizza.src} alt="pizza" />
          <p class=" font-semibold text-base text-center text-pretty">{pizza.name}</p>
          <p class=" font-light text-center text-pretty">{pizza.description}</p>
          <p>{pizza.price}</p>
        </div>
      ))
    }
  </div>
  <div id="Entradas" class="hidden flex flex-wrap mr-10 ml-10 p-7 bg-slate-400  ">
    {
      entradas.map((entrada) => (
        <div class="w-1/6 p-1 flex flex-col justify-center items-center ">
          <img class=" h-32 w-32 object-cover rounded-lg" src={entrada.src} alt="entrada" />
          <p class="mt-3 font-semibold text-base text-center text-pretty">{entrada.name}</p>
          <p class=" font-light text-center text-pretty">{entrada.description}</p>
          <p class="mb-3">{entrada.price}</p>
        </div>
      ))
    }
  </div>
  <div id="Ensaladas" class="hidden flex flex-wrap mr-10 ml-10 p-7">
    {
      ensaladas.map((ensalada) => (
        <div class=" w-1/5 p-1 flex flex-col justify-center items-center">
          <img class="h-20 w-20 object-cover " src={ensalada.src} alt="ensalada" />
          <p class=" font-semibold text-base text-center text-pretty">{ensalada.name}</p>
          <p class=" font-light text-center text-pretty">{ensalada.description}</p>
          <p>{ensalada.price}</p>
        </div>
      ))
    }
  </div>
  <div id="Cocina" class="hidden flex flex-wrap mr-10 ml-10 p-7">
    {
      cocina.map((cocina) => (
        <div class=" w-1/5 p-1 flex flex-col justify-center items-center">
          <img class="h-20 w-20 object-cover " src={cocina.src} alt="cocina" />
          <p class=" font-semibold text-base text-center text-pretty">{cocina.name}</p>
          <p class=" font-light text-center text-pretty">{cocina.description}</p>
          <p>{cocina.price}</p>
        </div>
      ))
    }
  </div>
  <div id="Postres" class="hidden flex flex-wrap mr-10 ml-10 p-7">
    {
      postres.map((postre) => (
        <div class=" w-1/5 p-1 flex flex-col justify-center items-center">
          <img class="h-20 w-20 object-cover " src={postre.src} alt="postre" />
          <p class=" font-semibold text-base text-center text-pretty">{postre.name}</p>
          <p class=" font-light text-center text-pretty">{postre.description}</p>
          <p>{postre.price}</p>
        </div>
      ))
    }
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      //nuetsro menu un objeto para irterar en el menu seria como hojearlo
      const menu = {
        empanadas: document.getElementById("Empanadas"),
        pizzas: document.getElementById("Pizzas"),
        entradas: document.getElementById("Entradas"),
        ensaldas: document.getElementById("Ensaladas"),
        cocina: document.getElementById("Cocina"),
        postres: document.getElementById("Postres"),
      };
      // funcion para mostrar el div que queremos
      function mostrarDiv(name) {
        Object.keys(menu).forEach((key) => {
          if (key === name) {
            menu[key].style.opacity = "1";
            setTimeout(() => {
              menu[key].style.display = "flex";
            }, 500);
          } else {
            menu[key].style.opacity = "0";
            setTimeout(() => {
              menu[key].style.display = "none";
            }, 500);
          }
        });
      }

      //en los enlaces hacemos el click y mostramos su div
      document
        .getElementById("ver-empanadas")
        .addEventListener("click", function () {
          mostrarDiv("empanadas");
        });

      document
        .getElementById("ver-pizzas")
        .addEventListener("click", function () {
          mostrarDiv("pizzas");
        });

      document
        .getElementById("ver-entradas")
        .addEventListener("click", function () {
          mostrarDiv("entradas");
        });

      document
        .getElementById("ver-ensaladas")
        .addEventListener("click", function () {
          mostrarDiv("ensaldas");
        });
      document
        .getElementById("ver-cocina")
        .addEventListener("click", function () {
          mostrarDiv("cocina");
        });
      document
        .getElementById("ver-postres")
        .addEventListener("click", function () {
          mostrarDiv("postres");
        });
    });
  </script>
</section>
