---
let { id,myClas} = Astro.props;

const Entradas = [
  {
    name: "Entradas",
    menu: {
      platillos: [
        {
          src: "/imagenes/empanadas.webp",
          platillo: "Bocaditos de espinaca",
          description: "Con queso parmesano",
          price: "$135",
        },
        {
          src: "/imagenes/empanadas.webp",
          platillo: "Esp치rragos al vapor",
          description: "",
          price: "$155",
        },
        { platillo: "Pimiento morr칩n asado", description: "", price: "$90" },

        { platillo: "Hongos al ajoillo", description: "", price: "$170" },
        {
          platillo: "Berenjenas a la parmesana",
          description: "",
          price: "$185",
        },
        {
          platillo: "Chorizo argentino",
          decription: "Fabricado encasa",
          price: "$110",
        },

        {
          platillo: "Chistorra",
          description: "Fabricada en casa",
          price: "$135",
        },
        {
          platillo: "Mollejas a la parrilla",
          description: "",
          price: "$310",
        },
        {
          platillo: "Mollejas al verdeo",
          description: "",
          price: "$290",
        },
        {
          platillo: "Chicnhulines a la parrilla",
          description: "",
          price: "$210",
        },
        {
          platillo: "Malfatti de espinaca",
          description: "",
          price: "$250",
        },
        {
          platillo: "Provoleta tomate y pimiento",
          description: "",
          price: "$220",
        },
        {
          platillo: "provoleta arugula y jam칩n serrano ",
          description: "",
          price: "$260",
        },
        {
          platillo: "Tartara de Rib-Eye",
          description: "",
          price: "$250",
        },
        {
          platillo: "Carpaccio de jam칩n serrano",
          description: "",
          price: "$260",
        },
        {
          platillo: "Mejillones con chistorra",
          description: "",
          price: "$335",
        },
      ],
    },
  },
];
---

{
  Entradas.map((item, index) => (
    <div class="flex flex-col items-center mt-1 mx-auto ">
      {typeof item.menu === "object" && item.menu.platillos ? (
        <>
          <button
            class="bg-red-500 text-white rounded p-2 font-medium text-2xl py-1"
            onclick={`document.getElementById('Entradas').classList.toggle('opacity-0'); document.getElementById('Entradas').classList.toggle('scale-0');`}
          >
            {item.name}
          </button>
          <div
            id="Entradas"
           
            class="   flex flex-wrap bg-white bg-opacity-20 border-2 border-red-500 p-2 rounded-lg transition-all duration-2000 ease-out transform opacity-0 scale-0 mt-1 blur-edge relative mx-20 "
          >
            {item.menu.platillos.map((platillo) => (
              <div class="w-1/5 p-1 flex flex-col justify-center items-center  ">
                <img
                  class="  size-20 rounded-lg "
                  src={platillo.src}
                  alt={platillo.src}
                />
                <p class="text-center text-white text-2xl font-bold">
                  {platillo.platillo}
                </p>
                <p class="text-center text-white ">{platillo.description}</p>
                <p class="text-center text-white font-semibold text-lg">
                  {platillo.price}
                </p>
              </div>
            ))}
          </div>
        </>
      ) : (
        <p class="text-center text-white">{item.name}</p>
      )}
    </div>
  ))
  
}

