---


// ESTE ESTA PENDIENTE SERA EL ULTIMO 




let { id } = Astro.props;
const parrilla = [
  {
    src: "/imagenes/empanadas.webp",
    name: "Fettuccine Bolognesa",
    Description: "",
    Price: "$230",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: " Fettuccine con crema de hongos",
    Description: "",
    Price: "$195",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Fetucciine negro con calamares en su tinta",
    Description: "",
    Price: "$275",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Ravioles de espianaca al pomodoro",
    Description: "",
    Price: "$230",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Farroto: vegetales y grana padano",
    Description: "",
    Price: "$210",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Sorrentinos de ricota con salsa rosa",
    Description: "",
    Price: "$250",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Lasagna bolognesa",
    Description: "",
    Price: "$250",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Hamburguesa al estilo de la matera",
    Description: "",
    Price: "$250",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Milanesa de pollo",
    Description: "",
    Price: "$220",
  },
  {
    src: "/imagenes/empanadas.webp",
    name: "Milanesa de res",
    Description: "",
    Price: "$320",
  },
  
];
---

<!-- // crea el grid de empanadas -->
<div
  id={id}
  class="hidden overflow-auto h-[700px] text-black bg-zinc-100 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 w-full md:w-3/4 lg:w-auto mx-auto "
  style="grid-template-columns: repeat(auto-fill, minmax(min-content, max-content));"
>
  {
    parrilla.map((item) => (
      <div class=" flex flex-col items-center py-4">
        <img class=" size-52 rounded-lg" src={item.src} alt={item.src} />
        <h1 class=" text-center">{item.name}</h1>
        <p>{item.Description}</p>
        <p>{item.Price}</p>
      </div>
    ))
  }
</div>
