---
const { color, title, subtitle, id, showFooterContent } = Astro.props;
const textColor = `text-${color}`;
import FooterMenu from "./FooterMenu.astro";
import Logo2 from "./Logo2.astro";
---

<section
  class="landing-section bg-primary min-h-screen w-screen text-center overflow-hidden"
  data-header-color={color}
  id={id}
>
  <div id="Logo2" class="flex flex-grow basis-0 hidden lg:block">
    <a href="./"><Logo2 /></a>
  </div>

  <div
    class="opacity-85 z-30 relative h-auto text-end sm:mt-12 md:w-[700px] lg:w-[900px] xl:w-[1300px] flex flex-col flex-wrap ml-auto md:mt-40 lg:mt-40 text-pretty"
  >
    <header>
      <h2
        class={`${textColor} mr-10 pt-28 text-6xl xl:text-9xl  font-semibold`}
      >
        {title}
      </h2>
      <p class={`${textColor}  mr-10 text-sm xl:text-2xl mt-4`}>
        {subtitle}
      </p>
    </header>

    <footer
      class="py-8 flex flex-col flex-grow justify-end mr-auto ml-auto md:mr-14"
    >
      <slot name="footer" />
      <!-- Condicionamente cargar el pie de página: -->
      {showFooterContent && <FooterMenu />}
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <slot name="background" />
  </div>
</section>
<script>
  // Este script se ejecutará en el navegador, después de que la página se haya cargado
  document.addEventListener("DOMContentLoaded", function () {
    window.addEventListener("scroll", function () {
      let logo = document.getElementById("Logo2");
      let windowPosition = window.scrollY > 220;

      logo.classList.toggle("invisible", windowPosition);
    });
  });
</script>
