---
const { color, title, subtitle, id, showFooterContent } = Astro.props;
const textColor = `text-${color}`;
import FooterMenu from './FooterMenu.astro';
---
<section
  class="landing-section bg-zinc-900 min-h-screen w-screen text-center overflow-hidden"
  data-header-color={color}
  id={id}
>
  <div class="bg-slate-400 bg-transparent opacity-85 z-30 relative h-auto text-end mt-20  md:w-[900px] xl:w-[1000px] flex flex-col flex-wrap ml-auto md:mt-60 lg:mt-60 text-pretty">
    <header>
      <h2 class={`${textColor} mr-10 pt-10 text-6xl xl:text-8xl  font-semibold`}>
        {title}
      </h2>
      <p class={`${textColor}  mr-10 text-sm lg:text-base mt-4`}>
        {subtitle}
      </p>
    </header>

    <footer class=" py-14 flex flex-col flex-grow justify-end  mr-auto ml-auto md:mr-14">
      <slot name="footer" />
      <!-- Condicionamente cargar el pie de página: -->
      {showFooterContent && <FooterMenu />}
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <slot name="background" />
  </div>
</section>